# Imports

In [1]:
from mysql import connector

## Function keyword parameters

In [5]:
def func(a, b, c, d, e):
    print(a + b + c + d + e)

In [6]:
# func(3)

# TypeError: func() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

TypeError: func() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

In [7]:
func(1, 6, 1, 9, 1)

18

In [8]:
def func(a=0, b=0, c=0, d=0, e=0):
    print(a + b + c + d + e)

In [9]:
func()

0

In [10]:
func(3)

3

In [11]:
func(c=5, d=10)

15

In [12]:
func(d=5, e=10)

15

## Python quotes

In [23]:
tekst = "I'm Freek"
tekst

"I'm Freek"

In [24]:
# tekst = 'I'm Freek'

# SyntaxError: unterminated string literal (detected at line 1)

In [25]:
tekst = 'I\'m Freek'
tekst

"I'm Freek"

In [26]:
tekst = "And he said, \"I'm Freek\""
tekst

'And he said, "I\'m Freek"'

In [27]:
print(tekst)

And he said, "I'm Freek"

In [35]:
pad = "C:\OneDrive\Work\11. Code.Founders_\2023-05-10 Les"
pad

'C:\\OneDrive\\Work\t. Code.Founders_\x823-05-10 Les'

In [36]:
print(pad)

C:\OneDrive\Work	. Code.Founders_3-05-10 Les

In [32]:
'\11'

'\t'

In [33]:
pad = r"C:\OneDrive\Work\11. Code.Founders_\2023-05-10 Les"
pad

'C:\\OneDrive\\Work\\11. Code.Founders_\\2023-05-10 Les'

In [34]:
print(pad)

C:\OneDrive\Work\11. Code.Founders_\2023-05-10 Les

# Data laden

In [46]:
connection = connector.connect(host='127.0.0.1', user='root', database='data')

In [47]:
cursor = connection.cursor()

In [16]:
cursor.execute('SELECT * FROM naam')

In [17]:
cursor.fetchall()

[(1, 'Freek'), (2, 'Freek'), (3, 'Henk'), (4, 'Harry')]

In [37]:
cursor.execute("INSERT INTO naam (naam) VALUES ('Jenny')")

In [38]:
connection.commit()

In [39]:
cursor.execute('SELECT * FROM naam LEFT JOIN telefoonnummer ON naam.id = telefoonnummer.persoonId')

In [40]:
cursor.fetchall()

[(3, 'Henk', 1, 3, 1234567890),
 (1, 'Freek', None, None, None),
 (2, 'Freek', None, None, None),
 (4, 'Harry', None, None, None),
 (5, 'Jenny', None, None, None)]

In [41]:
[description[0] for description in cursor.description]

['id', 'naam', 'id', 'persoonId', 'telefoonnummer']

In [48]:
cursor.execute('SELECT naam.id, naam, telefoonnummer FROM naam LEFT JOIN telefoonnummer ON naam.id = telefoonnummer.persoonId')
cursor.fetchall()

[(3, 'Henk', 1234567890),
 (1, 'Freek', 823748974),
 (2, 'Freek', 19999),
 (3, 'Henk', 19122299),
 (5, 'Jenny', 991000),
 (4, 'Harry', None)]

# Extra database informatie en opdrachten

Zoals in de CRUD zijn er dus INSERT, SELECT, UPDATE en DELETE. Voor alle transacties die aanpassingen maken (Alles behalve SELECT) moet er nog een `connectie.commit()` worden gedaan om deze daadwerkelijk door te voeren.

De SELECT statement is erg krachtig als je deze goed gebruikt. De basis is als volgt:
```SQL
SELECT kolomnaam1, kolomnaam2
FROM tabelnaam
```
Hier kunnen zoveel kolomnamen worden gebruikt als gewenst, of `*` om alle bereikbare kolommen te tonen.

Dit is uit te breiden met een filter met `WHERE`:
```SQL
SELECT *
FROM tabelnaam
WHERE conditie
```

## Benodigdheden voor de Opdrachten:
- https://sourceforge.net/projects/awmysql/files/
- Download de zip uit de bovenstaande link
- Extraheer het .sql bestand
- Open de shell van XAMPP
- Navigeer naar de map waar je de .sql hebt neergezet
- `mysql -uroot`
- `source AWBackup.sql;`
- Wacht tot dit klaar is
- Nu zou de AdventureWorks database moeten zijn ingeladen

## Mogelijk ook interessant: https://www.w3schools.com/sql/

## Opdracht 1:
1. Selecteer alle kolommen uit de `employee` tabel.
2. Selecteer de `EmployeeID`, `LoginID` en `Title` uit de `employee` tabel.
3. Filter deze kolommen op alléén mensen met de titel `Janitor`.
4. Filter deze kolommen op alléén de mensen met een titel die start met `Production Technician`.
    - Hint: Gebruikt `%` als wildcard om aan te geven dat het niet uit maakt wat ergens voor, tussen of na komt.